
node_modules
.next
.git
.gitignore

.env
.env.local
.env.development.local
.env.production.local
.env.test.local

dev.db
dev.db-journal
dev.db-shm
dev.db-wal

*.log
npm-debug.log*

coverage
.vscode

Dockerfile*
docker-compose*.yml

README.md